@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* ❗删除 dark mode 自动切换 */

body {
  background: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}